[Unit]
Description=Lockserver

[Service]
Type=notify
User=doorman
WorkingDirectory=/home/doorman
ExecStartPre=/home/doorman/lockserver/init.sh
ExecStart=/home/doorman/lockserver/lockserver
StandardOutput=syslog
StandardError=inherit
Restart=on-failure

[Install]
WantedBy=multi-user.target
