---
hostname: 'space'

use_resolved: false
use_timesyncd: false

locale_default:
  LANG: 'da_DK.UTF-8'
  LC_COLLATE: 'C'
  LC_MESSAGES: 'C'

dnf_conf_role:
  'main.install_weak_deps': 'False'
  'main.deltarpm': 'False'

dnf_packages_role:
  'glibc-langpack-da': present
  'iproute': present
  'dosfstools': present
  'btrfs-progs': present
  'ansible': present
  'git': present
  'htop': present
  'man-db': present
  'syslinux': present
  'systemd-udev': present
  'systemd-networkd': present
  'systemd-container': present
  'sudo': present
  'certbot': present
  'chrony': present
  'nftables': present
  'openssh-server': present
  'openssh-clients': present
  'bird': present
  'dhcp-server': present
  'python3-freeradius': present # pulls in radiusd
  'curl': present
  'diffutils': present
  'bind': present
  'tayga': present
  'avahi-tools': present # pulls in avahi package
  'nss-mdns': present
  'iputils': preset # for ping
  'bind-utils': preset # for dig
  'screen': present
  'patch': present

  #'alsa-sof-firmware': absent
  #'memstrack': absent
  #'kpartx': absent

users:
  'esmil': sudo
  'ast': sudo
  'flummer': sudo
  'riiiis': sudo
  'knielsen': sudo
  'k2OS': true
  'semi': true
  'graffen': true
  'signout': sudo
  'rasmis': jumponly

boot:
  device: 'LABEL=BOOT'
  options: 'noauto,noatime,iocharset=iso8859-15,utf8,tz=UTC,dmask=0022,fmask=0133,x-systemd.automount,x-systemd.device-timeout=5min,x-systemd.idle-timeout=5min'

root:
  device: 'LABEL=BTRFS'
  options: 'noatime,ssd,compress=lzo'

local_hosts:
  space:
    description: Main router/infrastructure server
    mdns: false
    ipv4:
    - 185.38.175.0
    ipv6:
    - '2a01:4262:1ab::'
  doorputer:
    description: Front door controlling Raspberry Pi
    mac: b8:27:eb:d9:92:00
    mdns: false
    ipv4:
    - 10.42.0.3
  foodputer:
    mac: 00:21:86:ff:fa:cc
    mdns: false
    ipv4:
    - 10.42.0.4
  ap1:
    mdns: false
    ipv4:
    - 10.42.0.5
  ap2:
    mdns: false
    ipv4:
    - 10.42.0.6
  bunkerap1:
    description: Wifi accesspoint in bunkers
    mdns: false
    ipv4:
    - 10.42.0.7
  switch:
    description: Space switch
    mdns: false
    ipv4:
    - 10.42.0.9
  voip:
    description: LinksysPAP2 SIP box for the phone
    mac: 00:21:29:0c:91:65
    mdns: false
    ipv4:
    - 10.42.0.10
  bunkerswitch:
    description: Switch in the bunkers
    mdns: false
    ipv4:
    - 10.42.0.11
  lathe:
    mdns: false
    ipv4:
    - 10.42.0.12
  infraswitch:
    description: Switch for mediaconverting our 10G
    mdns: false
    ipv4:
    - 10.42.0.13
  anna:
    mac: 00:e0:c5:6e:d6:8d
    ipv4:
    - 10.42.1.9
  piscreen2:
    description: PixelFlut Raspberry Pi
    mac: b8:27:eb:9b:64:d9
    ipv4:
    - 10.42.1.12
  pixelfluthafnium:
    description: PixelFlut Odroid
    mac: 00:1e:06:45:38:08
    ipv4:
    - 10.42.1.13
    ipv6:
    - 2a01:4262:1ab:b:f100::000d
  printbrother:
    mac: 00:80:77:06:9f:26
    ipv4:
    - 10.42.1.32
  xeroxwax:
    mac: 00:00:aa:a7:ef:8b
    mdns: false
    ipv4:
    - 10.42.1.33
  infotron:
    description: Infoscreen Raspberry Pi
    mac: b8:27:eb:2c:5d:3a
    ipv4:
    - 10.42.1.34
  spacemon:
    mac: b8:27:eb:24:f8:50
    ipv4:
    - 10.42.1.35
  jumbotron:
    description: Jumbotron Raspberry Pi
    mac: b8:27:eb:d3:c1:62
    ipv4:
    - 10.42.1.36
  hplaserjet:
    mac: 94:57:a5:ce:e2:6c
    mdns: false
    ipv4:
    - 10.42.1.37
    ipv6:
    - 2a01:4262:1ab:b:9657:a5ff:fece:e26c
  snakeskin:
    description: Snakeskin controlling Raspberry Pi
    mac: b8:27:eb:9b:64:d9
    ipv4:
    - 10.42.1.38

# vim: set ts=2 sw=2 et:
