---
hostname: 'space'

use_resolved: false

locale:
  default:
    LANG: 'da_DK.UTF-8'
    LC_COLLATE: 'C'
    LC_MESSAGES: 'C'

dnf_conf:
  'main.install_weak_deps': 'False'
  'main.best': 'True'
  'main.deltarpm': 'False'

dnf_packages:
  'glibc-langpack-da': present
  'iproute': present
  'dosfstools': present
  'btrfs-progs': present
  'ansible': present
  'git': present
  'htop': present
  'man-db': present
  'syslinux': present
  'systemd-container': present
  'sudo': present
  'nftables': present
  'openssh-server': present
  'openssh-clients': present
  'bird': present
  'bird6': present
  'dhcp-server': present
  'freeradius-python': present # pulls in radiusd
  'curl': present
  'diffutils': present
  'bind': present
  'tayga': present
  'avahi-tools': present # pulls in avahi package
  'nss-mdns': present

users:
  'esmil': sudo
  'ast': sudo
  'flummer': sudo
  'riiiis': sudo
  'knielsen': sudo
  'k2OS': true
  'semi': true
  'signout': sudo

boot:
  device: 'LABEL=BOOT'
  options: 'noauto,noatime,iocharset=iso8859-15,utf8,tz=UTC,dmask=0022,fmask=0133,x-systemd.automount,x-systemd.device-timeout=5min,x-systemd.idle-timeout=5min'

root:
  device: 'LABEL=BTRFS'
  options: 'noatime,ssd,compress=lzo'

local_hosts:
- name: doorputer
  description: Front door controlling Raspberry Pi
  mac: b8:27:eb:d9:92:00
  mdns: false
  ipv4:
  - 10.42.0.3
- name: foodputer
  mac: 00:d0:59:37:5e:37
  mdns: false
  ipv4:
  - 10.42.0.4
- name: ap1
  mdns: false
  ipv4:
  - 10.42.0.5
- name: ap2
  mdns: false
  ipv4:
  - 10.42.0.6
- name: switch
  mac: 00:1b:11:6f:42:f8
  mdns: false
  ipv4:
  - 10.42.0.9
- name: lathe
  mdns: false
  ipv4:
  - 10.42.0.12
- name: anna
  mac: 00:e0:c5:6e:d6:8d
  ipv4:
  - 10.42.1.9
- name: printbrother
  mac: 00:80:77:06:9f:26
  ipv4:
  - 10.42.1.32
- name: xeroxwax
  mac: 00:00:aa:a7:ef:8b
  mdns: false
  ipv4:
  - 10.42.1.33
- name: infotron
  description: Infoscreen Raspberry Pi
  mac: b8:27:eb:2c:5d:3a
  ipv4:
  - 10.42.1.34
- name: spacemon
  mac: b8:27:eb:24:f8:50
  ipv4:
  - 10.42.1.35
- name: jumbotron
  description: Jumbotron Raspberry Pi
  mac: b8:27:eb:d3:c1:62
  ipv4:
  - 10.42.1.36
- name: hplaserjet
  mac: 94:57:a5:ce:e2:6c
  mdns: false
  ipv4:
  - 10.42.1.37
  ipv6:
  - 2a01:4262:1ab:b:9657:a5ff:fece:e26c
- name: snakeskin
  description: Snakeskin controlling Raspberry Pi
  mac: b8:27:eb:9b:64:d9
  ipv4:
  - 10.42.1.38

# vim: set ts=2 sw=2 et:
