---
- import_tasks: dnf.yml
  tags: dnf
- import_tasks: hosts.yml
  tags: hosts
- import_tasks: timezone.yml
  when: timezone is defined
  tags: timezone
- import_tasks: locale.yml
  when: locale is defined
  tags: locale
- import_tasks: hostname.yml
  when: hostname is defined
  tags: hostname
- import_tasks: systemd.yml
  tags: systemd
- import_tasks: resolved.yml
  tags: resolved
- import_tasks: networkd.yml
  tags: networkd
- import_tasks: timesyncd.yml
  tags: timesyncd

# vim: set ts=2 sw=2 et:
