{% if users[item] == 'jumponly' %}
{%   for key in userdata[item].authorized_keys %}
restrict,command="echo 'This account can only be used for ProxyJump (ssh -J)'",port-forwarding {{ key }}
{%   endfor %}
{% else %}
{%   for key in userdata[item].authorized_keys %}
{{ key }}
{%   endfor %}
{% endif %}
