[Match]
Name=lan

#[Link]
#ARP=no

[Network]
DHCP=no
IPv6AcceptRA=no
LinkLocalAddressing=no
LLMNR=no
MulticastDNS=no
VLAN=lan10
VLAN=lan11
VLAN=lan12
VLAN=lan13
VLAN=lan14
VLAN=lan15
VLAN=lan20
