#!/bin/sh

set -e

outfile='/etc/raddb/mods-config/files/authorize'
tmpfile="$(mktemp /tmp/getusers.XXXXXXXX)"
cleanup() {
  rm -f "$tmpfile"
}
trap cleanup EXIT SIGINT SIGTERM

curl -s -o "$tmpfile" '{{ radius_passwords.download_url }}'
if ! diff -q "$tmpfile" "$outfile" >/dev/null; then
  install -m0640 "$tmpfile" "$outfile"
  systemctl restart radiusd.service
fi
