#!/bin/sh

if curl -s -4 -k '{{ radius_passwords.download_url }}' -o /etc/raddb/users.new; then
	if ! diff -q /etc/raddb/users /etc/raddb/users.new >/dev/null; then
		mv -f /etc/raddb/users.new /etc/raddb/mods-config/files/authorize
		systemctl restart radiusd.service
	fi
else
	rm -f /etc/raddb/users.new
fi
