[Match]
Name=bond0

[Link]
ARP=no
RequiredForOnline=no

[Network]
DHCP=no
IPv6AcceptRA=no
LinkLocalAddressing=no
LLMNR=no
MulticastDNS=no
VLAN=wan
VLAN=locix
VLAN=lan10
VLAN=lan11
VLAN=lan12
VLAN=lan13
VLAN=lan14
VLAN=lan15
VLAN=lan20
VLAN=lan21
