[Match]
Name=locix

[Link]
ARP=yes

[Network]
DHCP=no
IPv6AcceptRA=no
IPForward=yes
LLMNR=no
MulticastDNS=no
LLDP=no
EmitLLDP=no
NTP=no

[Address]
Address=185.1.167.144/23
Scope=link

[Address]
Address=2001:7f8:f2:e1:0:20:5235:1/64
Scope=link
