[Match]
Name=lan20

[Network]
DHCP=no
IPv6AcceptRA=no
LinkLocalAddressing=no
Address=185.38.175.65/26
Address=2a01:4262:1ab:20::1/64
Address=fe80::1/64
IPForward=yes
LLMNR=no
MulticastDNS=no
LLDP=yes
EmitLLDP=no

##
## Vanity addresses
##

[Route]
Destination=2a01:4262:1ab::cafe/128
Gateway=2a01:4262:1ab:20::5

[Route]
Destination=2a01:4262:1ab::db/128
Gateway=2a01:4262:1ab:20::6

##
##  Labicolo
##

# Asbjorn /60
[Route]
Destination=2a01:4260:1ab:1100::/60
Gateway=2a01:4262:1ab:20::75
