[Match]
Name=lan13

[Network]
DHCP=no
IPv6AcceptRA=no
Address=10.42.3.1/24
#Address=2a01:4262:1ab:d::1/64
Address=fe80::1/64
IPv6PrefixDelegation=static
IPForward=yes
LLMNR=yes
MulticastDNS=yes
LLDP=yes
EmitLLDP=yes

[Route]
Destination=2a01:4262:1ab:d::/64
PreferredSource=2a01:4262:1ab::

[IPv6PrefixDelegation]
RouterLifetimeSec=14400
RouterPreference=medium
EmitDNS=yes
DNS=2a01:4262:1ab::
DNSLifetimeSec=14400

[IPv6Prefix]
Prefix=2a01:4262:1ab:d::/64
ValidLifetimeSec=86400
PreferredLifetimeSec=14400
