[Match]
Name=lan11

[Link]
ARP=yes

[Network]
DHCP=no
IPv6AcceptRA=no
Address=10.42.1.1/24
#Address=2a01:4262:1ab:b::1/64
Address=fe80::1/64
IPForward=yes
LLMNR=yes
MulticastDNS=yes
LLDP=yes
EmitLLDP=yes
IPv6SendRA=yes

[Route]
Destination=2a01:4262:1ab:b::/64
PreferredSource=2a01:4262:1ab::

[IPv6SendRA]
RouterLifetimeSec=9000
RouterPreference=medium
EmitDNS=yes
DNS=2a01:4262:1ab::
DNSLifetimeSec=14400

[IPv6Prefix]
Prefix=2a01:4262:1ab:b::/64
ValidLifetimeSec=86400
PreferredLifetimeSec=14400
