[Match]
Name=mgt

[Link]
RequiredForOnline=no

[Network]
DHCP=no
IPv6AcceptRA=no
Address=192.168.112.1/24
#IPForward=ipv4
DHCPServer=yes
LLMNR=yes
MulticastDNS=yes
LLDP=yes
EmitLLDP=yes

[DHCPServer]
DNS=192.168.112.1
EmitDNS=yes
EmitNTP=no
EmitTimezone=yes
