[Match]
Name=wan

[Network]
DHCP=no
IPv6AcceptRA=no
Address=193.106.167.46/29
Address=2a03:5440:1:2935:1ab::3/120
IPForward=yes
LLMNR=no
MulticastDNS=no
LLDP=yes
EmitLLDP=no

[Route]
Gateway=193.106.167.42
Metric=1024

[Route]
Gateway=2a03:5440:1:2935:1ab::2
Metric=1024
