---
hostname: 'jumbotron'

resolved_conf_role:
  'Resolve.DNSSEC': 'yes'

apt_sources_role:
  raspbian:
    components:
    - main
    - contrib
    - non-free
    - rpi

apt_packages_role:
  'logrotate': absent
  'cron': absent

  'git': present           # to check out jumbotron repo
  'wiringpi': present      # for jumbotron_ping script
  'console-setup': present # for proper console font/keyboard
  'irssi': present

  # jumbowatch.pl dependencies
  'libjson-perl': present
  'libwww-perl': present
  'libanyevent-http-perl': present
  'libanyevent-httpd-perl': present
  'libxml-libxml-perl': present
  'libhtml-parser-perl': present
  'libdatetime-perl': present
  'libdatetime-format-rfc3339-perl': present

users:
  'esmil': sudo
  'riiiis': sudo
  'knielsen': sudo
  'richard': sudo
  'max': sudo
  'otbm': sudo

# vim: set ts=2 sw=2 et:
