[Unit]
Description=Blackhole routes
Wants=network.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/blackhole.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
