{% for host in local_hosts %}
{%   if 'mdns' not in host or host.mdns %}
{%     if 'ipv4' in host %}
{%       for ip in host.ipv4 %}
{%         if loop.index <= 1 %}
{{ ip }} {{ host.name }}.local
{%         endif %}
{%       endfor %}
{%     endif %}
{%     if 'ipv6' in host %}
{%       for ip in host.ipv6 %}
{%         if loop.index <= 1 %}
{{ ip }} {{ host.name }}.local
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endfor %}
