{% for name, info in local_hosts.items() %}
{%   if 'mdns' not in info or info.mdns %}
{%     if 'ipv4' in info %}
{%       for ip in info.ipv4 %}
{%         if loop.index <= 1 %}
{{ ip }} {{ name }}.local
{%         endif %}
{%       endfor %}
{%     endif %}
{%     if 'ipv6' in info %}
{%       for ip in info.ipv6 %}
{%         if loop.index <= 1 %}
{{ ip }} {{ name }}.local
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endfor %}
