42.10.in-addr.arpa. 600 IN SOA space.labitat.dk. esmil.labitat.dk. 2019040101 7200 3600 604800 86400
42.10.in-addr.arpa. 600 IN NS  space.labitat.dk.

{% for name, info in local_hosts.items() %}
{% if 'ipv4' in info %}
{% for ip in info.ipv4 %}
{% if ip.startswith('10.42.') %}
{{ ip.split('.')[3] }}.{{ ip.split('.')[2] }}.42.10.in-addr.arpa. 600 IN PTR {{ name }}.s.
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
