s.              600    IN   SOA     space.labitat.dk. esmil.labitat.dk. 2019040101 7200 3600 604800 86400
s.              600    IN   NS      space.labitat.dk.

s.              600    IN   A       {{ local_hosts['space'].ipv4[0] }}
s.              600    IN   AAAA    {{ local_hosts['space'].ipv6[0] }}

labitrack.s.    600    IN   A     185.38.175.70
labitrack.s.    600    IN   AAAA  2a01:4262:1ab::cafe
track.s.        600    IN   A     185.38.175.70
track.s.        600    IN   AAAA  2a01:4262:1ab::cafe
{% for name, info in local_hosts.items() %}
{% if 'ipv4' in info or 'ipv6' in info %}

{% if 'ipv4' in info %}
{% for ip in info.ipv4 %}
{{ name }}.s. 600 IN A {{ ip }}
{% endfor %}
{% endif %}
{% if 'ipv6' in info %}
{% for ip in info.ipv6 %}
{{ name }}.s. 600 IN AAAA {{ ip }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
