---
hostname: 'space'
locale:
  LANG: 'da_DK.UTF-8'
  LC_COLLATE: 'C'
  LC_MESSAGES: 'C'
timezone: 'Europe/Copenhagen'
dnf_conf:
  'main.install_weak_deps': 'False'
  'main.best': 'True'
  'main.deltarpm': 'False'
dnf_packages:
  'initscripts': present
  'dosfstools': present
  'btrfs-progs': present
  'dnf': present
  'python2-dnf': present
  'dnf-command(leaves)': present
  'ansible': present
  'python-netaddr': present
  'vim-enhanced': present
  'git': present
  'diffutils': present
  'htop': present
  'man-db': present
  'passwd': present
  'syslinux': present
  'systemd-container': present
boot:
  device: 'LABEL=BOOT'
  options: 'noauto,noatime,iocharset=iso8859-15,utf8,tz=UTC,dmask=0022,fmask=0133,x-systemd.automount,x-systemd.device-timeout=5min,x-systemd.idle-timeout=5min'
root:
  device: 'LABEL=BTRFS'
  options: 'noatime,ssd,compress=lzo'
local_hosts:
- name: ap
  mac: 00:0f:23:94:43:0b
  mdns: false
  ips:
  - 10.42.0.2
- name: doorputer
  mac: 00:b3:f6:00:36:be
  mdns: false
  ips:
  - 10.42.0.3
- name: foodputer
  mac: 00:d0:59:37:5e:37
  mdns: false
  ips:
  - 10.42.0.4
- name: ap1
  mdns: false
  ips:
  - 10.42.0.5
- name: ap2
  mdns: false
  ips:
  - 10.42.0.6
  - 10.42.0.7
- name: switch
  mac: 00:1b:11:6f:42:f8
  mdns: false
  ips:
  - 10.42.0.9
- name: lathe
  mdns: false
  ips:
  - 10.42.0.12
- name: anna
  mac: 00:e0:c5:6e:d6:8d
  ips:
  - 10.42.1.9
- name: printbrother
  mac: 00:80:77:06:9f:26
  ips:
  - 10.42.1.32
- name: infotron
  description: Infoscreen Raspberry Pi
  mac: b8:27:eb:2c:5d:3a
  ips:
  - 10.42.1.34
- name: spacemon
  mac: b8:27:eb:24:f8:50
  ips:
  - 10.42.1.35
- name: jumbotron
  description: Jumbotron Raspberry Pi
  mac: b8:27:eb:d3:c1:62
  mdns: false
  ips:
  - 10.42.1.36
- name: hplaserjet
  mac: 94:57:a5:ce:e2:6c
  mdns: false
  ips:
  - 10.42.1.37
  - 2a01:4260:1ab:b:9657:a5ff:fece:e26c
- name: labisound
  mac: 00:16:e6:f7:43:b0
  ips:
  - 10.42.1.40
- name: sound
  ips:
  - 10.42.1.80
  
# vim: set ts=2 sw=2 et:
